---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Pagina 2">
<p>Esta es la página 2</p>
<a href="/">Volver a la home</a>
</Layout>

<style>
  html {
    background-color: white;;
  }
</style>